[submodule "vendor/VulkanMemoryAllocator"]
	path = vendor/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "vendor/Vulkan-Headers"]
	path = vendor/Vulkan-Headers
	url = git@github.com:KhronosGroup/Vulkan-Headers.git
